body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;

    /* Background image */
    background: 
        linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
        url("https://img.freepik.com/free-psd/3d-rendering-questions-background_23-2151455632.jpg?semt=ais_hybrid&w=740&q=80") no-repeat center center fixed;

    background-size: cover;
}

.login-card {
    width: 100%;
    max-width: 420px;
    border-radius: 15px;
}

#togglePassword {
    position: absolute;
    right: 12px;
    top: 38px;
    cursor: pointer;
    opacity: 0.7;
}

#togglePassword:hover {
    opacity: 1;
}


/* Mobile adjustments */
@media (max-width: 576px) {
    .login-card {
        margin: 15px;
    }
}
